html{
    min-height: 100%;
    overflow: hidden;
  }
  body{
    height: calc(100vh - 8em);
    color: red;
  }
  .line-1{
      position:absolute;
      top: 20px;
      width: 100%;  
      width: 24em;
      margin: 0 auto;
      border-right: 15px solid rgba(255,255,255,.75);
      font-size: 180%;
      text-align:left;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
  }
  .plebs{
      position: absolute;
      margin: 20px;
      top: 40px;
      width: 100%;  
  }
  .plebs2{
    position: absolute;
    margin: 20px;
    top: 200px;
    width: 100%;
  }
  #status{
    position: absolute;
    font-family: monospace;
    top: 0px;
    margin: 20px;
    right: 0px;
  }
  #scr{
    display: inline-block;
  	overflow: hidden;
    white-space: nowrap;
    position: fixed;
    margin: 20px;
    right: 0;
    bottom:90px;
    font-family:  monospace;
    color: rgb(0, 255, 0);
    font-style: normal;
    font-size: 13px;
    letter-spacing: 2px;
    animation:anim-scr 3s steps(15) 1s 1 normal both;
  }
  #acr{
    display: inline-block;
  	overflow: hidden;
    white-space: nowrap;
    position: fixed;
    margin: 20px;
    right: 0;
    bottom:75px; 
    font-family:  monospace;
    color: rgb(0, 255, 0);
    font-style: normal;
    font-size: 13px;
    letter-spacing: 2px;
    animation:anim-acr 3s steps(15) 5s 1 normal both;
  }
  #bcr{
    display: inline-block;
  	overflow: hidden;
    white-space: nowrap;
    position: fixed;
    margin: 20px;
    right: 0;
    bottom:60px;
    font-family:  monospace;
    color: rgb(0, 255, 0);
    font-style: normal;
    font-size: 13px;
    letter-spacing: 2px;
    animation:anim-bcr 5s steps(15) 11s 1 normal both;
  }
  #ccr{
    display: inline-block;
  	overflow: hidden;
    white-space: nowrap;
    position: fixed;
    margin: 20px;
    right: 0;
    bottom:45px;
    font-family:  monospace;
    color: rgb(0, 255, 0);
    font-style: normal;
    font-size: 13px;
    letter-spacing: 2px;
    animation:anim-ccr 5s steps(15) 16s 1 normal both;
  }
  #dcr{
    display: inline-block;
  	overflow: hidden;
    white-space: nowrap;
    position: fixed;
    margin: 20px;
    right: 0;
    bottom:30px;
    font-family:  monospace;
    color: rgb(0, 255, 0);
    font-style: normal;
    font-size: 13px;
    letter-spacing: 2px;
    animation:anim-dcr 5s steps(15) 21s 1 normal both;
  }
  #ecr{
    display: inline-block;
  	overflow: hidden;
    white-space: nowrap;
    position: fixed;
    margin: 20px;
    right: 0;
    bottom:15px;
    font-family:  monospace;
    color: rgb(0, 255, 0);
    font-style: normal;
    font-size: 13px;
    letter-spacing: 2px;
    animation:anim-ecr 5s steps(15) 28s 1 normal both;
  }
  .anim-hack{
      animation: break 1.5s steps(10) 1s 1 normal both;
  }

  .anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
               blinkTextCursor 500ms steps(40) infinite normal;
  }

  @keyframes anim-scr{
    from { 
      width: 0% 
  }
  to { 
      width: 19% 
  }
  }
  
  @keyframes anim-acr{
    from { 
      width: 0% 
  }
  to { 
      width: 8% 
  }
  }
  
  @keyframes anim-bcr{
    from { 
      width: 0% 
  }
  to { 
      width: 40% 
  }
  }
  
  @keyframes anim-ccr{
    from { 
      width: 0% 
  }
  to { 
      width: 20% 
  }
  }
  
  @keyframes anim-dcr{
    from { 
      width: 0% 
  }
  to { 
      width: 13% 
  }
  }
  
  @keyframes anim-ecr{
    from { 
      width: 0% 
  }
  to { 
      width: 13% 
  }
  }
  @keyframes break {
    from{color: black;
        width: 0;}
    to{color:rgb(0, 255, 0);
        width:24em;}
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }