
@font-face {
    font-family: 'mrrobotregular';
    src: url('mrrobot-webfont.woff2') format('woff2'),
         url('mrrobot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}